<h3 class="topics-header">Code topics</h3>
<ul class="topics-list">
  <span class="topic-container">
    <div class="topic-header" onclick="navigate('views/week3.html', false)">
      <img src="content/images/HTML5.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      HTML5 Video, Audio, and Canvas tags
    </div>
  </span>
  <span class="topic-container">
    <div class="topic-header" onclick="navigate('views/week3.html', false)">
      <img src="content/images/html5-local-storage.jpg" class="topic-image"  />
    </div>
    <div class="topic-title">
      Local Storage API, Storing and Retrieving Simple Data, Arrays, Associative Arrays, and Objects
    </div>
  </span>
  <span class="topic-container">
    <div class="topic-header" onclick="navigate('views/week3.html', false)">
      <img src="content/images/dom.png" class="topic-image"  />
    </div>
    <div class="topic-title">
      DOM Manipulation Using createElement, appendChild, insertBefore, removeChild, etc.
    </div>
  </span>
  <span class="topic-container">
    <div class="topic-header" onclick="navigate('views/week3.html', false)">
      <img src="content/images/CSS3.png" class="topic-image"  />
    </div>
    <div class="topic-title">
      Designing, Defining, and Triggering CSS3 Transforms without Custom libraries
    </div>
  </span>
</ul>
