<h3 class="topics-header">Code topics</h3>
<ul class="topics-list">
  <span class="topic-container" onclick="navigate('views/lesson1.html', false)">
    <div class="topic-header">
      <img src="content/images/js.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      JavaScript - Loops, Conditional Statements, Functions, Variables, Parameters, Arrays, Associative Arrays
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/lesson2.html', false)">
    <div class="topic-header">
      <img src="content/images/js.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      JavaScript Objects - Object Creation Functions, Inheritance, Properties, Methods, Instantiation
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/lesson3.html', false)">
    <div class="topic-header">
      <img src="content/images/js.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      JSONParse and Stringify
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/lesson4.html', false)">
    <div class="topic-header">
      <img src="content/images/js.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      AJAX requesting a file
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/lesson5.html', false)">
    <div class="topic-header">
      <img src="content/images/js.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      Manipulating CSS Class Properties Using JavaScript
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/week3.html', false)">
    <div class="topic-header">
      <img src="content/images/HTML5.png" class="topic-image"/>
    </div>
    <div class="topic-title">
      HTML5 Video, Audio, and Canvas tags
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/week5.html', false)">
    <div class="topic-header">
      <img src="content/images/html5-local-storage.jpg" class="topic-image"  />
    </div>
    <div class="topic-title">
      Local Storage API, Storing and Retrieving Simple Data, Arrays, Associative Arrays, and Objects
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/week7.html', false)">
    <div class="topic-header">
      <img src="content/images/dom.png" class="topic-image"  />
    </div>
    <div class="topic-title">
      DOM Manipulation Using createElement, appendChild, insertBefore, removeChild, etc.
    </div>
  </span>
  <span class="topic-container" onclick="navigate('views/week9.html', false)">
    <div class="topic-header">
      <img src="content/images/CSS3.png" class="topic-image"  />
    </div>
    <div class="topic-title">
      Designing, Defining, and Triggering CSS3 Transforms without Custom libraries
    </div>
  </span>
</ul>
