<h3 class="topics-header">Code topics</h3>
<ul class="topics-list">
  <li class="topic">
    <a href="#" onclick="navigate('views/week3.html')">
      HTML5 Video, Audio, and Canvas tags
    </a>
  </li>
  <li class="topic">
    <a href="#" onclick="navigate('views/week3.html')">
      Local StorageAPI, Storing and Retrieving Simple Data, Arrays, Associative Arrays, and Objects
    </a>
  </li>
  <li class="topic">
    <a href="#" onclick="navigate('views/week3.html')">
      DOMManipulation Using createElement, appendChild, insertBefore, removeChild, etc.
    </a>
  </li>
  <li class="topic">
    <a href="#" onclick="navigate('views/week3.html')">
      Designing, Defining, and Triggering CSS3 Transforms without Custom Libraries
    </a>
  </li>
</ul>
