<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>AJAX requesting a JSON file</h2>
    AJAX allows us to dynamically update our HTML file without reloading the page.
    An AJAX request requests a file from the server asyncronously and upon completion
    updates whatever element you desire dynamically.
  </div>

<div id="ajax"></div>
<button class="btn" onclick="ajaxFile();">Retrieve file and add to element</button>
</div>
