<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>Manipulating CSS Class Properties Using JavaScript</h2>
    Altering an elements class name is accessed by the <code>className</code> property
    of an <code>elementNode</code>. This is a space delimited list of classes applied
    to the current element. This property can be altered with pure JavaScript allowing
    the user to manipulate the CSS class property during run time.
  </div>

<h3 id="cssSwitch">Title</h3>
<button class="btn" onclick="switchClass();">Switch Class</button>
</div>
