<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>JavaScript - Loops, Conditional Statements, Functions, Variables, Parameters, Arrays, Associative Arrays</h2>
  </div>

  <div class="subTopic">
    <h3>Loops</h3>
    <h4>For loop</h4>
    Iterates for a specific number of cycles.
    <code>for(var i = 0;i < array.length;i++) {//logic}</code>
    <h4>For/In loop</h4>
    Interates through each attribute inside the looped object.
    <h4>While loop</h4>
    Interates while a condition is true.
    <h4>Do/While loop</h4>
    Preforms an action while the secified boolean expression remains true.
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Conditional Statements</h3>
    <h4>If</h4>
    <h4>else</h4>
    <h4>If else</h4>
    <h4>Switch</h4>
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Functions</h3>
    A set of code designed to preform a specific task. A function is executed when
    it is invoked. A function is invoked using the following syntax
    <code>'functionName'('parametersOfFunction')</code>
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Variables</h3>
    Containers used in JavaScript to hold a value. May be used with arithmatic
    symbols to perform calculations. A variable is created when it is declared
    <code>var variableName;</code>. The value of a variable is given using the
    assignment operator <code>var variableName = value;</code>.
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Parameters</h3>
    The values passed into a function. These values are referenced by variableName
    and can be used anywhere inside the function's scope.
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Arrays</h3>
    Collection of values stored within a single variable. Syntax
    <code>var animals = ["Cat", "Dog", "Mouse"];</code>. If we were to access
    the value cat in the array we could do something like this
    <code>var cat = animals[0];</code>. We can use that same index reference to
    change the value inside animals <code>animals[0] = "Kitten";</code>. Arrays
    are considered to be of type object, meaning we can include any data type we
    would like inside the same array.
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Associative Arrays</h3>
    Arrays with named indexes. JavaScript does not support arrays with named indexes.
  </div>
  <hr/>
</div>
