<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>DOM Manipulation</h2>
    <a href="Notes/week7.md">Read Me</a>
  </div>

  <div class="subTopic">
    <h4>List of items</h4>
    <ul id="list1">
      <li id="first">
        First
      </li>
      <li id="second">
        Second
      </li>
      <li id="third">
        Third
      </li>
    </ul>
    <button class="btn" id="createElement" onclick="createElement1()">Create a new element</button>
    <button class="btn" id="createElement" onclick="removeChild1()">Remove created element</button>
  </div>
  <hr/>
</div>
