<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>CSS Transform</h2>
    <a href="Notes/week9.md">Read Me</a>
  </div>

    <div class="subTopic">
      <h4>Normal Image</h4>
      <img class="transform-image" src="content/images/CSS3.png" />
    </div>
    <hr/>

  <div class="subTopic">
    <h4>Rotate </h4>
    <img id="rotate" class="transform-image" src="content/images/CSS3.png" />
    <br />
    <button class="btn" onclick="addClass('rotate')">Begin transformation</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Scale </h4>
    <img id="scale" class="transform-image" src="content/images/CSS3.png" />
    <br />
    <button class="btn" onclick="addClass('scale')">Begin transformation</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Scew </h4>
    <img id="scew" class="transform-image" src="content/images/CSS3.png" />
    <br />
    <button class="btn" onclick="addClass('scew')">Begin transformation</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Spin </h4>
    <img id="spin" class="transform-image" src="content/images/CSS3.png" />
    <br />
    <button class="btn" onclick="addClass('spin')">Begin transformation</button>
  </div>
  <hr/>
</div>
