<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>Local Storage</h2>
  </div>

  <div class="subTopic">
    <h3>Saving and Retrieving Simple Data</h3>
    <h4>Saving data</h4>
    <input class="input" type="text" id="localStorageInput"  placeholder="Enter value..." style="margin-bottom:15px;"/>
    <br />
    <button class="btn" onclick="saveValue()">Save value to local storage</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Retrieving data</h4>
    <div id="localStorageResult" style="margin-bottom:15px;"></div>
    <button class="btn" onclick="getValue()">Get saved value</button>
  </div>
  <hr/>
</div>
