<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>Local Storage</h2>
  </div>

  <div class="subTopic">
    <h3>Using JavaScript variables</h3>
    <h4>Saving data</h4>
    <input class="input" type="text" id="input"  placeholder="Enter value..." style="margin-bottom:15px;"/>
    <br />
    <button class="btn" onclick="saveInputValue()">Save value</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Retrieving data</h4>
    <div id="inputResult" style="margin-bottom:15px;"></div>
    <button class="btn" onclick="getInputValue()">Get saved value</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h3>Saving and Retrieving Simple Data</h3>
    <h4>Saving data</h4>
    <input class="input" type="text" id="localStorageInput"  placeholder="Enter value..." style="margin-bottom:15px;"/>
    <br />
    <button class="btn" onclick="saveValue()">Save value to local storage</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Retrieving data</h4>
    <div id="localStorageResult" style="margin-bottom:15px;"></div>
    <button class="btn" onclick="getValue()">Get saved value</button>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>Saving Arrays to local storage</h4>
    <input class="input" type="text" id="localStorageArrayInput"  placeholder="Enter a list of comma delimited values..." style="margin-bottom:15px;"/>
    <br />
    <button class="btn" onclick="saveArrayValue()">Save array to local storage</button>
  </div>
  <hr/>
  
  <div class="subTopic">
    <h4>Getting Arrays from local storage</h4>
    <div id="arrayLocalStorage" style="margin-bottom:15px;"></div>
    <button class="btn" onclick="getArrayValue()">Get saved array</button>
  </div>
  <hr/>
</div>
