<div class="topic-page" style="margin-bottom: 15px;">
  <div class="topic-page-header" style="border-radius: 0px;">
    <h2>HTML 5 Tags</h2>
  </div>

  <div class="subTopic">
    <h4>HTML 5 Audio</h4>
    <audio controls style="width: 384px;">
    <source src="content/audio/03 - Skinny Love.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>HTML 5 Video</h4>
    <video width="384" height="216" controls>
    <source src="content/videos/fire.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  </div>
  <hr/>

  <div class="subTopic">
    <h4>HTML 5 Canvas</h4>
    <canvas id="myCanvas" width="384" height="216" style="border:1px solid #000000;margin-bottom: 30px;"></canvas>
  </div>

  <div class="subTopic">
    <button class="btn" id="drawCircle" onclick="circle()">Draw circle</button>
  </div>
</div>
