html {
  font-family: 'Roboto', sans-serif;
  min-width: 656px;
}

a {
  text-decoration: none;
  color: #5f91e2;
}

li {
  list-style-type: none;
}

button {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 5px 5px 3px #ddd;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.buttonHeader {
  color: white;
  box-shadow: none;
  border: 2px solid white;
}

.buttonHeader:hover {
  box-shadow: none;
  color: #ddd;
  border: 2px solid #ddd;
}

.btn:hover {
  box-shadow: 3px 3px 3px #ddd;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

#masterView {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 80px;
}

.home-button {
  float: right;
  margin: 21.4333px;
}

.header-text {
  display: inline-block;
  padding-left: 15px;
  color: white;
}

.container {
  margin: 15px 15px 15px 15px;
}

.topics-list {
  padding: 0;
  display: inline;
}

.topic-header {
  min-height: 70px;
  border-radius: 2px 2px 0 0;
  width: 200px;
  padding: 15px;
  background-color: rgb(153, 89, 40);
}
.topic-container {
  display: inline-grid;
  vertical-align: top;
  margin: 15px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
  border-radius: 4px;
}
.topic-container:hover {
  cursor: pointer;
}
.header {
  width: 100%;
  background-color: rgb(68, 105, 143);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.topic-image {
  width: 80px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.topic-title {
  min-height: 30px;
  border-radius: 0 0 2px 2px;
  width: 200px;
  padding: 15px;
  border-top: 1px solid rgba(0,0,0,.1);
  /*margin: 15px;*/
}

.subTopic {}

.input {
  border-radius: 4px;
  border: 1.5px solid #ddd;
  padding: 10px;
  width: 50%;
}

.transform-image {
  height: 100px;
  width: auto;
}

.rotate {
  transform-origin: middle;
  transform: rotate(90deg);
}

.scale {
  transform-origin: middle;
  transform: scale(2, 2);
}

.scew {
  transform-origin: middle;
  transform: skew(30deg, 30deg);
}

.spin {
  transform: translateX(50px) rotate(50deg) translateY(15px);
}
